<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554459426943-6n8jil9r4faddinepj34afcn591645sb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554459426943-6n8jil9r4faddinepj34afcn591645sb</string>
	<key>API_KEY</key>
	<string>AIzaSyCGB_9gdUu4clhBSrqqGZmhD5xvG9MvMQs</string>
	<key>GCM_SENDER_ID</key>
	<string>554459426943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Madaragog.Enhance-Ideas</string>
	<key>PROJECT_ID</key>
	<string>enhance-ideas</string>
	<key>STORAGE_BUCKET</key>
	<string>enhance-ideas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554459426943:ios:82085b309ee7f6184f0f4a</string>
	<key>DATABASE_URL</key>
	<string>https://enhance-ideas.firebaseio.com</string>
</dict>
</plist>